# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*
replay_pid*

# IDE files
.idea/
*.iml
.vscode/
!.vscode/settings.json
*.swp
*~
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
